/************************************************
Hoja de estilos principal

Proyecto: Codeando.org
Author: Paulo Andrade
Email: source.compu@gmail.com
Web: http://www.pauloandrade1.com
************************************************/

/************************************************
OPCIONES GENERALES
************************************************/

@font-face{
	font-family: 'icomoon';
	src: url('/fonts/icomoon.eot');
	src: url('/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
	url('/fonts/icomoon.svg#icomoon') format('svg'),
	url('/fonts/icomoon.woff') format('woff'),
	url('/fonts/icomoon.ttf') format('truetype');
	font-weight: normal; font-style: normal;
}
@font-face {
    font-family: 'VarelaRound';
    src: url('/fonts/VarelaRound-Regular.ttf') format("truetype");
}

*
{
	margin: 0;
	padding: 0;
}
*:before,
*:after {
  box-sizing: inherit;
}

a
{
	color: #DDA02C;
	text-decoration: none;
	transition: all 0.25s ease;
}
a:hover
{
	color: #222;
	text-decoration: none;
}
body
{
	color: #414141;
	font-family: 'VarelaRound', helvetica, arial;
	font-size: 18px;
	line-height: 1.4;
	background-color: #fcfcfc;
}
html
{
	height: 100%;
	box-sizing: border-box;
}

#wrapper
{
	background-color: #fcfcfc;
	margin: 0 auto;
	max-width: 1100px;
	padding: 20px 10px;
	position: relative;
}
.block
{
	display: block !important;
	margin: 0 auto;
}
.cargando
{
	text-align: center;
}
.center
{
	text-align: center;
}
.error
{
	background-color: #F37A43;
	color: #fff;
	font-size: 1.1em;
	font-weight: bold;
	left: 0;
	padding: 10px 0;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	transform: translatey(-60px);
	transition: all 0.25s ease;
	z-index: 999;
}
.inlineBlock
{
	display: inline-block !important;
}
.left
{
	text-align: left;
}
.none
{
	display: none !important;
}
.success
{
	background-color: green;
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px 0;
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
	transform: translatey(-60px);
	.margin-top: -60px;
	transition-duration: .25s;
	z-index: 999;
}
.center
{
	text-align: center;
}
.right
{
	text-align: right;
}

/*********************************************************
Configuracion header y nav
*********************************************************/

header
{
	font-size: 0;
	max-width: 1100px;
	margin: 0 auto;
	padding: 20px 10px;
}
header nav
{
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	text-align: right;
	vertical-align: middle;
	width: 60%;
}
header nav a
{
	color: #666;
	transition: all 0.25s ease;
}
header nav a:hover
{
	color: #999;
}
header nav li
{
	display: inline-block;
	font-size: 16px;
	padding-left: 1em;
	vertical-align: top;
}
header nav ul
{
	font-size: 0;
}
header nav .active
{
	color: #0379BF;
}
header #header
{
	display: inline-block;
	font-size: 16px;
	vertical-align: middle;
	width: 40%;
}
header #header a
{
	color: #0379BF;
	transition: all 0.25s ease;
}
header #header a:hover
{
	color: #36aceF;
}
header #header h1
{
	font-size: 22px;
}

/*********************************************************
SISTEMA DE LOGIN
*********************************************************/

/*********************************************************
Configuracion pagina inicio
*********************************************************/

#home
{
	text-align: center;
}
#home h2
{
	font-size: 2em;
	padding: 25px 0;
}
#home #home-content
{
	font-size: 0;
	text-align: center;
}
#home #home-content .content
{
	display: inline-block;
	font-size: 16px;
	vertical-align: top;
	width: 30%;
}
#home #home-content .content h3
{
	margin-bottom: 10px;
}
#home #home-content .content img
{
	background-color: #58CEFF;
	border-radius: 5px;
	padding: 15px;
	width: 100px;
}
#home #home-content .content div
{
	width: 80%;
	padding-left: 10%;
	text-align: left;
}
#home .home-box
{
	display: inline-block;
	vertical-align: middle;
	width: 45%;
}
#home .home-box img
{
	width: 150px;
	background-color: #58cefF;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 15px;
}
#presentacion
{
	background-color: #0379BF;
	color: #fcfcfc;
	padding: 3em 0;
}
#presentacion #box
{
	font-size: 0;
	max-width: 1100px;
	margin: 0 auto;
}
#presentacion #box #box-1
{
	display: inline-block;
	font-size: 16px;
	vertical-align: middle;
	width: 48%;
	padding-left: 2%;
}
#presentacion #box #box-1 h2
{
	font-size: 40px;
}
#presentacion #box #box-1 p
{
	font-size: 1.2em;
}
#presentacion #box #box-2
{
	display: inline-block;
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
	width: 50%;
}
#presentacion #box #box-2 img
{
	width: 300px;
}
#presentacion #box #box-2 #login
{
	width: 90%;
}
#presentacion #box #box-2 #login #login-head
{
	background-color: #00468c;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 25px 0;
}
#presentacion #box #box-2 #login #login-body
{
	background-color: #fcfcfc;
	color: #666;
	padding: 20px 0;
}
#presentacion #box #box-2 #login #login-body input[type="text"],
#presentacion #box #box-2 #login #login-body input[type="password"]
{
	background-color: #ddd;
	border-radius: 5px;
	border: 2px solid #ddd;
	color: #666;
	font-size: 16px;
	font-size: bold;
	margin-bottom: 10px;
	padding: 5px 10px;
	width: 80%;
	transition: all 0.25s ease;
}
#presentacion #box #box-2 #login #login-body input[type="text"]:focus,
#presentacion #box #box-2 #login #login-body input[type="password"]:focus
{
	background-color: #fcfcfc;
	color: #666;
}
#presentacion #box #box-2 #login #login-body input[type="submit"]
{
	background-color: #0379BF;
	border: 1px solid #0379BF;
	border-radius: 5px;
	color: #fcfcfc;
	font-size: 20px;
	margin-top: 10px;
	padding: 10px 20px;
	transition: all 0.25s ease;
}
#presentacion #box #box-2 #login #login-body input[type="submit"]:hover
{
	background-color: #00468C;
	border: 1px solid #00468C;
	cursor: pointer;
}
#presentacion #box #box-2 #login #login-body hr
{
	background: #ddd;
	border: 0;
	border-bottom: 1px dashed #ddd;
	margin: 0 auto;
	width: 80%;
}
#presentacion #box #box-2 #login #login-footer
{
	background-color: #fcfcfc;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	color: #666;
	padding: 0 10%;
	padding-bottom: 20px;
	text-align: left;
}
#presentacion #box #box-2 #login #login-footer a
{
	color: #666;
	transition: all 0.25s ease;
}
#presentacion #box #box-2 #login #login-footer a:hover
{
	color: #999;
	cursor: pointer;
}

/*********************************************************
Configuracion pagina cursos
*********************************************************/

#cursos
{
	font-size: 0;
}
.cursos
{
	border-radius: 5px;
	font-size: 16px;
	display: inline-block;
	vertical-align: top;
	width: 31%;
	margin: 1%;
	transition: all 0.25s ease;
}
.cursos:hover
{
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}
.cursos img
{
	border-radius: 10px;
	width: 98%;
}
.cursos h2
{
	font-size: 1em;
	margin-bottom: 10px;
}
.cursos .buttons
{
	font-size: 0;
}
.cursos .buttons .button
{
	background-color: #0379BF;
	border-radius: 5px;
	color: #fcfcfc;
	display: inline-block;
	font-size: 16px;
	margin: 1%;
	padding: 10px 0;
	vertical-align: top;
	width: 48%;
	transition: all 0.25s ease;
}
.cursos .buttons .button-2
{
	background-color: #0379BF;
	border-radius: 5px;
	color: #fcfcfc;
	display: inline-block;
	font-size: 16px;
	margin: 1%;
	padding: 10px 0;
	vertical-align: top;
	width: 98%;
	transition: all 0.25s ease;
}
.cursos .buttons .button:hover,
.cursos .buttons .button-2:hover
{
	background-color: #00488E;
	cursor: pointer;
}
.cursos .buttons .button a,
.cursos .buttons .button-2 a
{
	color: #fcfcfc;
	transition: all 0.25s ease;
}

/*********************************************************
Configuracion pagina contacto
*********************************************************/

#form_contacto
{
	margin-top: 10px;
	padding: 5px;
	background-color: #fff;
}
#form_contacto input[type="submit"]
{
	border: none;
	border-radius: 3px;
	padding: 10px 15px;
	background-color: #0379BF;
	color: #fcfcfc;
	transition: all 0.25s ease;
	margin-top: 10px;
	font-size: 18px;
}
#form_contacto input[type="submit"]:hover
{
	background-color: #1B7Fff;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.15) inset;
	color: #fff;
	cursor: pointer;
	text-shadow: 0px 0px 2px rgba(255,255,255,1);
}
#form_contacto input[type="text"]
{
	padding: 5px;
	border: 2px solid #ddd;
	background-color: #ddd;
	border-radius: 3px;
	width: 60%;
	transition: all 0.25s ease;
	font-size: 16px;
}
#form_contacto input[type="text"]:focus
{
	background-color: #fcfcfc;
}
#form_contacto fieldset
{
	border: none;
	background-color: #ddd;
	padding: 5px 10px;
	margin-bottom: 10px;
}
#form_contacto fieldset .middle
{
	vertical-align: top;
}
#form_contacto label
{
	margin-top: 10px;
}
#form_contacto option
{
	background-color: #fcfcfc;
	padding: 5px 10px;
	transition: all 0.25s ease;
}
#form_contacto option:hover
{
	cursor: pointer;
}
#form_contacto select
{
	border: 2px solid #ddd;
	background-color: #ddd;
	border-radius: 3px;
	width: 20%;
	transition: all 0.25s ease;
}
#form_contacto textarea
{
	border: 2px solid #ddd;
	font-size: 16px;
	height: 300px;
	max-height: 400px;
	max-width: 60%;
	min-height: 300px;
	min-width: 60%;
	padding: 5px;
	text-align: left;
	transition: all 0.25s ease;
	width: 60%;
	background-color: #ddd;
}
#form_contacto textarea:focus
{
	background-color: #fcfcfc;
}
#form_contacto .top
{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#form_contacto .bottom
{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/*********************************************************
Configuracion Footer
*********************************************************/

footer
{
	background-color: #F4F7F8;
	color: #666;
	padding: 3em 0;
	text-align: center;
}
footer a
{
	color: #666;
	transition: all 0.25 ease;
}
footer a:hover
{
	color: #999;
}
footer h3
{
	font-size: 1.1em;
	margin-bottom: 10px;
}
footer .footer-box
{
	display: inline-block;
	vertical-align: top;
	width: 30%;
	text-align: left;
}

/*********************************************************
Configuracion resaltador de sintaxis
*********************************************************/

.code
{
	background: #272822;
	color: #ccc;
	padding: 5px 10px;
	border-radius: 3px;
	overflow-x: auto;
	font-size: 16px;
}
.code span
{
	float:none !important;
}
/* atributos html */
.atn
{
	color: #7FE22E !important;
}
/* strings */
.atv, .str
{
	color: #E6DB74 !important;
}
/* comentarios */
.com
{
	color: #75715E !important;
}
.dec
{
	color: white !important;
}
/* palabras claves */
.kwd
{
	color: #66D9EF !important;
}
/* numeros */
.lit
{
	color: #8481FF !important;
}
/* operadores */
.pun
{
	color: #fff !important;
}
.prettyprint
{
	background: #272822 !important;
}
/* etiquetas html */
.tag
{
	color: #F92672 !important;
}
.typ
{
	color: #66D9EF !important;
}

/****************************************************************
MEDIA QUERYS
****************************************************************/

@media (min-width: 300px) and (max-width: 480px){
	footer .footer-box
	{
		width: 90%;
	}
	#home #home-content .content
	{
		width: 90%;
	}
	#home .home-box
	{
		width: 90%;
	}
	#presentacion #box #box-1
	{
		width: 98%;
	}
	#presentacion #box #box-1 h2
	{
		font-size: 20px;
	}
	#presentacion #box #box-2
	{
		width: 100%;
		margin-top: 10px;
	}
	#presentacion #box #box-2 img
	{
		width: 150px;
	}
	#presentacion #box #box-2 #login
	{
		margin: 0 auto;
	}
	.cursos
	{
		width: 90% !important;
	}
	.cursos .buttons .button
	{
		width: 98%;
	}
}
@media (min-width: 481px) and (max-width: 750px){
	footer .footer-box
	{
		width: 45%;
	}
	#home #home-content .content
	{
		width: 45%;
	}
	#presentacion #box #box-1
	{
		width: 98%;
	}
	#presentacion #box #box-1 h2
	{
		font-size: 30px;
	}
	#presentacion #box #box-2
	{
		width: 100%;
		margin-top: 10px;
	}
	#presentacion #box #box-2 img
	{
		width: 200px;
	}
	#presentacion #box #box-2 #login
	{
		margin: 0 auto;
	}
	.cursos
	{
		width: 48%;
	}
	.cursos .buttons .button
	{
		width: 98%;
	}
}
@media (min-width: 751px) and (max-width: 950px){
	.cursos
	{
		width: 48%;
	}	
}