<div id="presentacion">
	<div id="box">
		<div id="box-1">
			<h2>Tienes alguna propuesta interesante?</h2>
			<p>Alguna duda, comentario o sugerencia?</p>
		</div>
		<div id="box-2">
			<img src="/img/contacto.png" alt="Cursos gratuitos">
		</div>
	</div>
</div>
<div id="wrapper">
	<form id="form_contacto" novalidate>
		<fieldset class="top">
			<label>Nombre:</label>
			<input type="text" ng-model="form.name" name="name" placeholder="Ingrese su nombre" ng-required="vm.formConfig.required">
		</fieldset>
		<fieldset>
			<label>Email:</label>
			<input type="text" ng-model="form.email" name="email" placeholder="Ingrese su email" ng-required="vm.formConfig.required">
		</fieldset>
		<fieldset>
			<label>Asunto:</label>
			<select ng-model="form.asunto" name="asunto" ng-required="vm.formConfig.required">
				<option></option>
				<option>Comentario</option>
				<option>Sugerencia</option>
				<option>Reportar Bug</option>
			</select>
		</fieldset>
		<fieldset class="bottom">
			<label class="middle">Su comentario:</label>
			<textarea placeholder="Ingrese su comentario" ng-model="form.comment" name="comment" ng-required="vm.formConfig.required"></textarea>
		</fieldset>
		<input type="submit" value="Enviar" ng-click="vm.setContact(form)" ng-disabled="form_contacto.$invalid">
	</form>
</div>