<div id="presentacion">
	<div id="box">
		<div id="box-1">
			<h2>Tienes alguna propuesta interesante?</h2>
			<p>Alguna duda, comentario o sugerencia?</p>
		</div>
		<div id="box-2">
			<img src="/img/contacto.png" alt="Cursos gratuitos">
		</div>
	</div>
</div>
<div id="wrapper">
	<form id="form_contacto" action="">
		<fieldset class="top">
			<label>Nombre:</label>
			<input type="text" placeholder="Ingrese su nombre">
		</fieldset>
		<fieldset>
			<label>Email:</label>
			<input type="text" placeholder="Ingrese su email">
		</fieldset>
		<fieldset>
			<label>Asunto:</label>
			<select>
				<option></option>
				<option>Comentario</option>
				<option>Sugerencia</option>
				<option>Reportar Bug</option>
			</select>
		</fieldset>
		<fieldset class="bottom">
			<label class="middle">Su comentario:</label>
			<textarea placeholder="Ingrese su comentario"></textarea>
		</fieldset>
		<input type="submit" value="Enviar">
	</form>
</div>